html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.chat-message {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    overflow-y:scroll;
}

.chat-message ul {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 2px;
}